# Diabetes Data Visualisering

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('diabetes_dataset.csv')
df2 = df.drop(['Sex', 'Ethnicity'], axis=1)
df2

,Unnamed: 0,Age,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,35.8,83.4,123.9,10.9,152,114,197.8,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,24.1,71.4,183.7,12.8,103,91,261.6,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,25.0,113.8,142.0,14.5,179,104,261.0,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,32.7,100.4,167.4,8.8,176,118,183.4,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,33.5,110.8,146.4,7.1,122,97,203.2,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,45,39.4,114.0,76.2,13.4,109,82,187.7,60.3,88.7,19.1,6.1,Low,3582,NaN,Former,1,1
9996,9996,41,21.0,71.3,77.1,12.9,154,72,234.3,72.3,200.0,37.1,3.5,Low,2206,NaN,Never,1,1
9997,9997,50,29.0,106.3,97.5,4.9,122,61,266.0,69.8,156.1,85.8,4.9,High,3175,Heavy,Former,1,1
9998,9998,62,27.3,119.9,89.0,11.5,99,115,172.3,74.2,110.9,25.3,5.2,High,3478,Moderate,Never,1,0
9999,9999,29,20.6,102.0,70.8,14.5,156,64,277.9,38.0,108.1,68.5,6.0,Low,2918,Heavy,Former,1,0

## FÃ¶rbered all data till visualisering

In [13]:

age_lista = []
ageabove40_lista = []
ageunder40_lista = []
activity_lista = []
activityint_lista = []
activityabove40_lista = []
activityunder40_lista = []
calorieintake_lista =[]
calorieintakeintabove40_lista = []
calorieintakeintunder40_lista = []
bloodpressuresystolic_lista = []
bloodpressurediastolic_lista = []
bloodglucose_lista =[]
bloodpressuresystolicint_lista = []
bloodpressurediastolicint_lista = []
bloodglucoseint_lista =[]
bloodpressuresystolicintabove40_lista = []
bloodpressuresystolicintunder40_lista = []
bloodpressurediastolicintabove40_lista = []
bloodpressurediastolicintunder40_lista = []
bloodglucoseintabove40_lista =[]
bloodglucoseintunder40_lista =[]
import csv

with open('diabetes_dataset.csv', newline='') as file:
    reader = csv.DictReader(file)
    for rad in reader:
        age_lista.append(rad['Age'])
        activity_lista.append(rad['Physical_Activity_Level'])
        calorieintake_lista.append(rad['Dietary_Intake_Calories'])
        bloodpressuresystolic_lista.append(rad['Blood_Pressure_Systolic'])
        bloodpressurediastolic_lista.append(rad['Blood_Pressure_Diastolic'])
        bloodglucose_lista.append(rad['Fasting_Blood_Glucose'])
        

for i in activity_lista:
    if i == 'Low':
        activityint_lista.append(1)
    elif i == 'Moderate':
        activityint_lista.append(2)
    elif i == 'High':
        activityint_lista.append(3)
        
ageint_lista = [int(x) for x in age_lista]
calorieintakeint_lista = [int(x) for x in calorieintake_lista]
bloodpressuresystolicint_lista = [int(x) for x in bloodpressuresystolic_lista]
bloodpressurediastolicint_lista = [int(x) for x in bloodpressurediastolic_lista]
bloodglucoseint_lista = [int(x) for x in bloodglucose_lista]


for age, activity, calorie, systolic, diastolic, glucose in zip(ageint_lista, activityint_lista, calorieintakeint_lista, bloodpressuresystolicint_lista, bloodpressurediastolicint_lista, bloodglucoseint_lista):
    if age >= 40:
        ageabove40_lista.append(age)
        activityabove40_lista.append(activity)
        calorieintakeintabove40_lista.append(calorie)
        bloodpressuresystolicintabove40_lista.append(systolic)
        bloodpressurediastolicintabove40_lista.append(diastolic)
        bloodglucoseintabove40_lista.append(glucose)
        
    else:
        ageunder40_lista.append(age)
        activityunder40_lista.append(activity)
        calorieintakeintunder40_lista.append(calorie)
        bloodpressuresystolicintunder40_lista(systolic)
        bloodpressurediastolicintunder40_lista.append(diastolic)
        bloodglucoseintunder40_lista.append(glucose)
        

activityabove40medel_lista = sum(activityabove40_lista) / len(activityabove40_lista)
activityunder40medel_lista = sum(activityunder40_lista) / len(activityunder40_lista)
calorieintakeintabove40medel_lista = sum(calorieintakeintabove40_lista) / len(calorieintakeintabove40_lista)
calorieintakeintunder40medel_lista = sum(calorieintakeintunder40_lista) / len(calorieintakeintunder40_lista)
print(activityabove40medel_lista)
print(activityunder40medel_lista)
print(calorieintakeintabove40medel_lista)
print(calorieintakeintunder40medel_lista)

1.9889402443050512
2.009132420091324
2741.018653020799
2744.7305936073058

In [32]:
df2

Index(['Unnamed: 0', 'Age', 'BMI', 'Waist_Circumference',
       'Fasting_Blood_Glucose', 'HbA1c', 'Blood_Pressure_Systolic',
       'Blood_Pressure_Diastolic', 'Cholesterol_Total', 'Cholesterol_HDL',
       'Cholesterol_LDL', 'GGT', 'Serum_Urate', 'Physical_Activity_Level',
       'Dietary_Intake_Calories', 'Alcohol_Consumption', 'Smoking_Status',
       'Family_History_of_Diabetes', 'Previous_Gestational_Diabetes'],
      dtype='object')